<!doctype html>
<html>
	<head>
		{{{htmlHead}}}
	</head>
	<body>
		{{{contentHead}}}

		{{{hero}}}

		{{#if user.name}}
			<p style="color: #FFF;">Welcome {{user.name}}! <a href="/logout" id="signout">Signout</a></p> 
		{{/if}}

		{{{module_template}}}
	</body>
</html>